<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @weekly_program.name %>
</p>

<%= link_to 'Edit', edit_weekly_program_path(@weekly_program) %> |
<%= link_to 'Back', weekly_programs_path %>
