<div class="container">
  <h1>Camp Information</h1>
  <% @camps.each do |camp| %>
    <% unless camp.show_description.nil? || camp.show_description.empty? %>
    <div id="camp<%= camp.id %>_description">
      <%= raw camp.show_description %>
      <hr style="border-top:9px solid #333333;">
    </div>
    <% end %>
  <% end %>
</div>