<div class="container">

<h1><%= @camp.title %></h1>

<p>
  <%= simple_format(@camp.description) %>
</p>

<% if current_user && current_user.role?("SuperAdmin") %>
  <%= link_to 'Edit', edit_camp_path(@camp) %> |
  <%= link_to 'Back', camps_path %>
<% end %>

</div>