<div style="margin-top:20px;" class="container">

  <%= raw @camp.show_description %>

  <hr>
  <div class="text-center">
    <h3>Camp Schedules:</h3>
    <%= render '/pages/registration_buttons' %>
  </div>

  <% if current_user && current_user.role?("SuperAdmin") %>
    <p>
      <%= link_to 'Edit', edit_camp_path(@camp) %> |
      <%= link_to 'Back', camps_path %><br>
    </p>
  <% end %>
</div>
