<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h1>New Camp Survey</h1>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <br>
      <%= link_to "Done With Surveys", root_url, class: "btn btn-danger btn-lg pull-right" if params[:camp_id]%>
    </div>
  </div>
  <hr>
  <%= render 'form' %>
</div>
