<% Camp.all.each do |camp| %>
 <!-- confirmationModal -->
<div class="modal fade" id="camp<%= camp.id %>Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= camp.title %></h4>
      </div>
      <div class="modal-body">
        <p>
          <%= camp.description.html_safe %>
        </p>
      </div><!-- .modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>