<div class="modal fade" id="camp<%= @extended_care.id %>Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h2 class="modal-title" id="myModalLabel"><%= @extended_care.title %></h2>
      </div>
      <div class="modal-body">
        <%= @extended_care.description.html_safe %>
      </div><!-- .modal-body -->
      <div class="modal-footer">
        <hr>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
