5346 N. Hamilton Road -- One block north of Hamilton and Thompson Roads (<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Math+Plus+Academy,+Sawmill+Road,+Powell,+OH&amp;aq=0&amp;oq=math+plus&amp;sll=40.365277,-82.669252&amp;sspn=7.164333,8.184814&amp;ie=UTF8&amp;hq=Math+Plus+Academy,&amp;hnear=Sawmill+Rd,+Powell,+Ohio+43065&amp;ll=40.065399,-82.862762&amp;spn=0.056232,0.063944&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=2393422759621614128">Map</a>)
<br />

<%= render 'location_schedule', location: Location.find(2) %>
