9681 Sawmill Road -- At the corner of Old Sawmill and Powell Roads next to UDF (<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Math+Plus+Academy,+Sawmill+Road,+Powell,+OH&amp;aq=0&amp;oq=math+plus+academy&amp;sll=40.365277,-82.669252&amp;sspn=5.967451,10.568848&amp;vpsrc=6&amp;ie=UTF8&amp;hq=Math+Plus+Academy,&amp;hnear=Sawmill+Rd,+Powell,+Ohio+43065&amp;ll=40.157428,-83.088335&amp;spn=0.028565,0.006295&amp;t=m">Map</a>)
<br />

<%= render 'location_schedule', location: Location.find(1) %>
