<div class="container"><h2>Stay tuned for next year :)</h2>
<h4>Updates coming February 2015. To stay in contact enter your information below.</h4>

<hr>

<form accept-charset="UTF-8" action="https://jmrmath.infusionsoft.com/app/form/process/3e93836302b43a68f3e0d36b400fd1d4" class="infusion-form" method="POST">
  <fieldset>
    <legend>Couldn't find what you were looking for? We'll keep you updated on camp additions and updates.</legend>
    <input name="inf_form_xid" type="hidden" value="3e93836302b43a68f3e0d36b400fd1d4" />
    <input name="inf_form_name" type="hidden" value="Sign up for newsletter" />
    <input name="infusionsoft_version" type="hidden" value="1.29.9.21" />
    <div class="form-group">
        <label for="inf_field_FirstName">First Name *</label>
        <input class="form-control" id="inf_field_FirstName" name="inf_field_FirstName" type="text" />
    </div>
    <div class="form-group">
        <label for="inf_field_Email">Email *</label>
        <input class="form-control" id="inf_field_Email" name="inf_field_Email" type="text" />
    </div>
    <div class="infusion-submit">
        <input type="submit" value="Submit" class="btn btn-sm btn-primary" />
    </div>
  </fieldset>
</form></div>
<%# render 'form' %>