<% if DateTime.now < (DateTime.civil(2022,2,1,0,0,0)) %>
  <div class="alert centered" style="background:#f4e9a2;border-bottom:solid 1px #a8a8a8;border-top:solid 1px #a8a8a8;">
    Summer camp registration opens February 1, 2022 at 12:01am EST
  </div>
<% end %>
<div class="container">
    <%= render 'form' %>
</div>
