<div class="container">
  <% if params[:location] == "Powell" %>

  <h1>Powell Summer Camp Registration</h1>
  <p class="registration">You must complete multiple registrations if you are registering multiple students. They're not too bad :)</p>

  <%= render 'form_powell' %>

  <% elsif params[:location] == "New Albany" %>

  <h1>New Albany Summer Camp Registration</h1>
  <p class="registration">You must complete multiple registrations if you are registering multiple students. They're not too bad :)</p>

  <%= render 'form_new_albany' %>

  <% end %>
</div>