<% if Location.find(params[:location] || params[:registration][:location_id]).name == "Online" %>

  <div id="headerwrap">
    <div class="row" style="overflow:hidden;">
      <div class="main">
        <div class="main-title">
          Bring Learning and Joy Back This Summer!
        </div> <!-- /.main-title -->
        <div class="main-grades">
          Weekly Online Summer Camps for Ages 5-15
        </div>
        <div class="main-sub-title">
          <ul>
            <li><strong>Fun tech and math</strong> courses<br />
            <li><strong>Live, online</strong> instruction<br />
            <li><strong>Plus self-paced, at-home</strong> activities<br />
            <li><strong>Inspiring, highly trained</strong> teachers<br />
            <li><strong>Individualized attention</strong> - 4 students per teacher<br />
            <li><strong>Make friends</strong> with like-minded peers<br />
          </ul>
          <div style="width:50%;text-align:center; margin-top:35px;">Register Below<br /><i class="fa fa-chevron-down" style="font-size:2em;color:#bbb;"></i></div>
        </div>
      </div>
    </div><!-- row -->
  </div>
  <div class="container">
      <%= render 'form' %>
  </div>

<% else %>

  <div class="container">
      <%= render 'form' %>
  </div>

<% end %>
