<!-- signUpModal -->
<div class="row">
  <div class="col-sm-12">
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel" style="color:black">How Can We Help You?</h3>
          </div>
          <div class="modal-body">
            <h4 style="color:black">Have questions about which camp(s) are best for your child?<h4>
            <h4>Call us at 614-792-6284 </h4>
            <hr>
            <h4 style="color:black">Want to see how Math Plus Academy stacks up?</h4>
              <br />
              <%= render '/pages/compare_button' %>
            </div><!-- .modal-body -->
          </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
     </div><!-- /.modal -->
    </div>
  </div>
</div>
