<h2>Since you liked our camps you might like this!</h2>
<%= link_to 'http://www.mathplusacademy.com/jumpstart', target: '_blank' do %>
  <%= image_tag "jumpstart_banner.png", height: '300', class: 'hidden-sm hidden-xs' %>
  <%= image_tag "jumpstart_banner.png", width: '100%', class: 'hidden-lg hidden-md' %>
<% end %>
