<div class="col-md-6">
  <h2 style="color:black;" class="mt-5 text-center">
    Since you liked our camps you might like this!
  </h2>
  <p class="mt-4 text-center">For students entering grades 2-5.</p>
</div>
<div class="col-md-6">
  <%= link_to 'http://www.mathplusacademy.com/jumpstart', target: '_blank' do %>
    <%= image_tag "jumpstart_logo_2017.png", width: '100%' %>
  <% end %>
</div>
