<hr>
<div class="sign-up-form">
  <h3>Sign up to get updates on new camps and more</h3>
  Join over 2,000 pro-active parents who receive updates on our academic enrichment classes, workshops, and camps. Subscribers also receive exclusive discounts.<br /><br />
  <div class="row">
    <div class="col-md-4">
      <form accept-charset="UTF-8" action="https://jmrmath.infusionsoft.com/app/form/process/3e93836302b43a68f3e0d36b400fd1d4" class="infusion-form" method="POST">
        <fieldset>
          <input name="inf_form_xid" type="hidden" value="3e93836302b43a68f3e0d36b400fd1d4" />
          <input name="inf_form_name" type="hidden" value="Sign up for newsletter" />
          <input name="infusionsoft_version" type="hidden" value="1.29.9.21" />
          <div class="form-group">
              <input class="form-control" id="inf_field_FirstName" name="inf_field_FirstName" type="text" placeholder="First Name" />
          </div>
          <div class="form-group">
              <input class="form-control" id="inf_field_Email" name="inf_field_Email" type="text"  placeholder="Email"/>
          </div>
          <div class="infusion-submit">
              <input type="submit" value="Keep Me Updated" class="btn btn-lg btn-success" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
