<div class="button-group">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centered md-lg-buttons hidden-xs">
      <%= link_to "Powell Schedule", new_registration_path(location: "1"), class: "btn btn-warning btn-lg registration_buttons"  %>
      <%= link_to "New Albany Schedule", new_registration_path(location: "2"), class: "btn btn-warning btn-lg registration_buttons" %>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centered visible-xs">
      <%= link_to "Powell Schedule", new_registration_path(location: "1"), class: "btn btn-warning btn-lg registration_buttons mobile-buttons"  %>
      <%= link_to "New Albany Schedule", new_registration_path(location: "2"), class: "btn btn-warning btn-lg registration_buttons mobile-buttons" %>
  </div>
</div><!-- /.button-group -->