<div class="container">
  <h1>See How We Compare</h1></br>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <td></td><td>Math Plus Academy</td><td>Classroom Antics</td><td>IdTech Camps</td>
      </tr>
      <tr>
        <td>Half Day Camps</td><td>$197</td><td>$219</td><td>N/A</td>
      </tr>
      <tr>
        <td>Full Day Camps</td><td>$394</td><td>N/A</td><td>$799+</td>
      </tr>
      <tr>
        <td>Overnight Camps</td><td>N/A</td><td>N/A</td><td>$1388+</td>
      </tr>
      <tr>
        <td>Age range</td><td>7 - 14</td><td>7 - 12</td><td>7 - 13</td>
      </tr>
      <tr>
        <td>Student:Teacher Ratio</td><td>Less than 10 to 1</td><td>Not specified</td><td>8 to 1</td>
      </tr>
      <tr>
        <td>Snacks</td><td>Healthy snacks included</td><td>Not specified</td><td>Not specified</td>
      </tr>
      <tr>
        <td>Lunch</td><td>not included</td><td>not included</td><td>additional fee</td>
      </tr>
      <tr>
        <td>Instructor qualifications</td><td>"Certified teachers </br> Engineering Professionals </br> Graduate students (for programming)"</td><td>College degree</td><td>Trained adults</td>
      </tr>
      <tr>
        <td>Satisfaction Guarantee</td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td>
      </tr>
      <tr>
        <td>Flexible scheduling (changing camps)</td><td>$0 change fess. (availability permitting)</td><td>$10 transfer fee. No cancelations without add-on insurance.</td><td>$35 change fees may apply. $250 cancellation fee.</td>
      </tr>
      <tr>
        <td>Girls Only camps</td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td>
      </tr>
      <tr><td>Location(s)</td><td>Powell</br> New Albany</br> Upper Arlington</td><td>Churches and community centers</td><td>Ohio State campus</td></tr>
      <tr><td>Year-round Programs</td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td></tr>
      <tr><td>Locally Owned and Operated</td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td></tr>
      <tr><th style="text-align:center;" scope="rowgroup" colspan="4"><h2>Camps Offered</h2></th></tr>
      <tr><td>Robotics</td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td></tr>
      <tr><td>Programming w/ Scratch</td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td></tr>
      <tr><td>Video Game Design</td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td></tr>
      <tr><td>Engineering</td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td></tr>
      <tr><td>Math / Problem Solving</td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td></tr>
      <tr><td>Entrepreneurship</td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td></tr>
      <tr><td>Inventor's Workshop (3D Printing)</td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td></tr>
      <tr><td>Chess</td><td style="text-align:center;"><i class="glyphicon glyphicon-ok" style="color:#5cb85c;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td><td style="text-align:center;"><i class="glyphicon glyphicon-remove" style="color:#d9534f;"></i></td></tr>
    </table>
  </div>
</br>
<h2>Five Reasons You Can Trust Math Plus Academy</h2>

<b> With so many summer camp options out there, it's hard to know who to trust. I've heard so many stories from parents who were disappointed with their summer camp experiences for many different reasons.</b>
<p>
  <ol>
    <li>We are locally owned and operated, so you can speak face to face with us whenever you like. With the other tech camp companies, they are nowhere to be found and they disappear after summer's over.</li></br>

    <li>We work tireless to select and train the best teachers who are passionate about math, science, engineering and technology. Our student-to-teacher ratio is very low so you can be assured that your child's needs will be met.</li></br>

    <li>Summer camps are a great way to stimulate your child's mind during the summer, but what happens if they love the camp and want to go further? With Math Plus Academy, we have year-round programs to take your child even further and keep them inspired after their one week camp.</li></br>

    <li>Finally, we want to make your family's experience as easy and fun as possible. We don't nickle and dime you for transfer fees or cancelation insurance. We provide state-of-the-art computers and equipment for your child. We provide healthy snacks so your child remains energized all day long. All you have to do is drop them off and pick them up, we handle the rest.</li></br>

    <li>We are the only summer camp that is confident enough to offer a 100% money-back satisfaction guarantee. You can sign up for our camps risk free! If you're child attends camp and is not totally happy, we will give you a full refund. No one else can match that promise.</li></br>
  </ol>
</p>

<h2>The 3 Most Popular Things Parents Say About MPA Camps</h2>
<p>
  <ul>
    <li>"My child LOVED this camp"</li></br>
    <li>"My child enjoyed this camp"</li></br>
    <li>"My child was so excited to go to camp each day"</li>
  </ul>
</p>

<h2><strong>Will your child be the next?</strong></h2>
<div class="row">
  <%= render 'registration_buttons' %>
</div>
</div>