<div class="container">
  <h1>Answers to Frequently Asked Questions...</h1>
  <h3>Do you offer a money-back guarantee?</h3>
  <p>
    We are the only camp that offers a 100% satisfaction guarantee. If your child attends camp and doesn't like it, we will provide a full refund! (We've served over 1,000 students and never had to issue a refund.)
  </p>
  <h3>If needed, can I switch my camp enrollment to another time?</h3>
  <p>
    Yes! As long as we have availability, you can always switch your enrollment to another camp at no charge. You'll just need to call us to make the change. Once a camp is scheduled, it can not be canceled.
  </p>
  <h3>Do you offer Girls Only camps?</h3>
  <p>
    Yes! We believe that some girls benefit greatly from being in a class with like-minded peers. We offer girls only camps to help inspire and empower the next generation of female scientists, engineers, and inventors.
  </p>
  <h3>What is the typical daily camp agenda?</h3>
  <p>
    The typical schedule features hands-on activity, challenges, and games designed to spark your child's creativity and excitement. Students work individually and in pairs throughout the day. Students are given 15 minutes breaks throughout the day and are provided water and healthy snacks.<br />
    For kids that do a morning and afternoon camp or a full day camp, we take a 30 minute break for lunch. Lunch is supervised, however, students must bring their own lunch.
  </p>
  <h3>What are the qualifications of the instructors?</h3>
  <p>
    Most of our instructors are certified math teachers. For robotics and computer programming, we often use experienced engineers. All of the insctuctors love math and science and have a passion for inspiring young minds. In addition, they have passed background checks and received extensive training from Math Plus Academy.
  </p>
  <h3>How can I learn more about each camp?</h3>
  <p>
    Just give us a call at 614-792-6284 and we will be happy to answer your questions and help you find the best camps for your child.
  </p>

  <h3>How do I register more than one child for camps?</h3>
  <p>You must enroll each child separately. Once you've completed your first registration, you'll see a button to enroll another child.</p>

  <h3>My child did robotics camp last year, can he/she do it again?</h3>
  <p>This year, we've completely redesigned out robotics curriculum so that students who've done it in the past, can do it again and get a whole new experience.</p>

  <h3>What’s the difference between LEGO engineering &amp; LEGO robotics</h3>
  <p>The LEGO engineering camp is a perfect fit for younger kids (ages 6 - 8) that love LEGOs and science. They will learn about simple machines like levers and pulleys and much, much more.<br /> LEGO Robotics is for older students (ages 9 - 14) and incorporates the LEGO Mindstorms NXT and EV3 robots. Students build and program robots to complete fun challenges.</p>

  <h3>What's the difference between Programming with SCRATCH and Video Game Design?</h3>
  <p>Both camps will focus on using software to create games and animations. SCRATCH camp is a better for kids who really want to learn to code. Video game design campers will not do programming, but will get to exercise their creativity to create professional quality games by the end of the week.</p>

  <h3>Do you offer more advanced programming camps</h3>
  <p>For students that want to go beyond SCRATCH programming, we recommend they join our ongoing programming labs. <a href="https://www.mathplusacademy.com/classes/computer-programming">Click here to learn more about Programming Lab</a></p>

  <h3>I want my child to get ahead in math this summer, but I don't see math camps for my child's ability</h3>
  <p>With the exception of KG and pre-algebra, we are not offering math camps this year. We recommend you enroll in weekly math classes to really boost your child's confidence and enjoyment of math this summer. <a href="https://www.mathplusacademy.com/book-assessment">Book a Complimentary Asssment</a> to find out which of our classes would be the best fit for your child this summer.</p>

  <h3>Are the age ranges for each camp mandatory or just guidelines?</h3>
  <p>For most of the camps, the age ranges are guidelines. If your child falls outside the guidelines, please give us a call at 614-792-6284 and we will help you make the best choice for your child's needs and abilities.</p>

  <h3>Can I get on a wait-list for a sold out camp</h3>
  <p>Most of our camps fill up quickly. If a camp you'd like to enroll in is full, please fill out the form at the bottom of this page. We will email you when new camps are added to the schedule.</p>

  <h3>I could not find a camp that meets my schedule, will you be adding new camps to the schedule?</h3>
  <p>We plan to open more camps, if needed. So, if a camp you would like to enroll in isn't offered during a week that works for you, please fill out the form at the bottom of this page. We will email you when new camps are added to the schedule.</p>

  <h3>Is lunch provided for full day camps?</h3>
  <p>We do not provide lunch. Students must bring their own lunch. We do have a microwave at each facility if needed. We do provide healthy snacks throughout the day.</p>

  <h3>What if we miss a day of camp?</h3>
  <p>We do not pro-rate or give refunds for days missed.</p>

  <h3>Can I use a my employer's flexible spending account?</h3>
  <p>Camps are usually reimbursable, check with your HR department. You'll need our Tax ID which we will be happy to provide.</p>

 <%= render '/pages/newsletter_signup' %>

</div> <!-- container -->
