<div class="container">
  <h1>The Most Frequently Of Asked Questions...</h1>
  <h3>How can I learn more about each camp?</h3>
  <p>
    Just give us a call at 614-792-6284 and we will be happy to answer your questions and help you find the best camps for your child.
  </p>

  <h3>How do I register more than one child for camps?</h3>
  <p>You must enroll each child separately. Once you've completed your first registration, you'll see a button to enroll another child.</p>

  <h3>My child did robotics camp last year, can he/she do it again?</h3>
  <p>This year, we've completely redesigned out robotics curriculum so that students who've done it in the past, can do it again and get a whole new experience.</p>

  <h3>What’s the difference between LEGO engineering &amp; LEGO robotics</h3>
  <p>The LEGO engineering camp is a perfect fit for younger kids (ages 6 - 8) that love LEGOs and science. They will learn about simple machines like levers and pulleys and much, much more.<br /> LEGO Robotics is for older students (ages 9 - 14) and incorporates the LEGO Mindstorms NXT and EV3 robots. Students build and program robots to complete fun challenges.</p>

  <h3>What's the difference between Programming with SCRATCH and Video Game Design?</h3>
  <p>Both camps will focus on using software to create games and animations. SCRATCH camp is a better for kids who really want to learn to code. Video game design campers will not do programming, but will get to exercise their creativity to create professional quality games by the end of the week.</p>

  <h3>Do you offer more advanced programming camps</h3>
  <p>For students that want to go beyond SCRATCH programming, we recommend they join our ongoing programming labs. <a href="/classes/computer-programming">Click here to learn more about Programming Lab</a></p>

  <h3>I want my child to get ahead in math this summer, but I don't see math camps for my child's ability</h3>
  <p>With the exception of KG and pre-algebra, we are not offering math camps this year. We recommend you enroll in weekly math classes to really boost your child's confidence and enjoyment of math this summer. <a href="/book-assessment">Book a Complimentary Asssment</a> to find out which of our classes would be the best fit for your child this summer.</p>

  <h3>Are the age ranges for each camp mandatory or just guidelines?</h3>
  <p>For most of the camps, the age ranges are guidelines. If your child falls outside the guidelines, please give us a call at 614-792-6284 and we will help you make the best choice for your child's needs and abilities.</p>

  <h3>Can I get on a wait-list for a full camp</h3>
  <p>Most of our camps fill up quickly. If a camp you'd like to enroll in is full, please fill out the form at the bottom of this page. We will email you when new camps are added to the schedule.</p>

  <h3>I could find a camp that meets my schedule, will you be adding new camps to the schedule?</h3>
  <p>If a camp you would like to enroll in isn't offered during a week that works for you, please fill out the form at the bottom of this page. We will email you when new camps are added to the schedule.</p>

  <h3>Is lunch provided for full day camps?</h3>
  <p>We do not provide lunch. Students must bring their own lunch. We do have a microwave at each facility if needed. We do provide healthy snacks throughout the day.</p>

  <h3>What if we miss a day of camp?</h3>
  <p>We do not pro-rate or give refunds for days missed.</p>

  <h3>Can I use a my employer's flexible spending account?</h3>
  <p>Camps are usually reimbursable, check with your HR department. You'll need our Tax ID which we will be happy to provide.</p>

  <form accept-charset="UTF-8" action="https://jmrmath.infusionsoft.com/app/form/process/3e93836302b43a68f3e0d36b400fd1d4" class="infusion-form" method="POST">
    <fieldset>
      <legend>Keep me updated!</legend>
      <input name="inf_form_xid" type="hidden" value="3e93836302b43a68f3e0d36b400fd1d4" />
      <input name="inf_form_name" type="hidden" value="Sign up for newsletter" />
      <input name="infusionsoft_version" type="hidden" value="1.29.9.21" />
      <div class="form-group">
          <label for="inf_field_FirstName">First Name *</label>
          <input class="form-control" id="inf_field_FirstName" name="inf_field_FirstName" type="text" />
      </div>
      <div class="form-group">
          <label for="inf_field_Email">Email *</label>
          <input class="form-control" id="inf_field_Email" name="inf_field_Email" type="text" />
      </div>
      <div class="infusion-submit">
          <input type="submit" value="Submit" class="btn btn-sm btn-primary" />
      </div>
    </fieldset>
  </form>
</div>