<% if user_signed_in? %>
<div class="container">
  <h1>Admin Page</h1>
</div>
<% else %>
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 sun visible-sm visible-xs">
        <i class="glyphicon glyphicon-certificate glyphicon-white"></i>
      </div><!-- /col-lg-12 sun visible-sm ... -->
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="hidden-sm hidden-xs">
          <h1>Summer is comming,<br/>
            thankfully :)</h1>
        </div>
        <div class="visible-sm visible-xs centered">
          <h1>Summer is comming, thankfully :)</h1>
        </div>
        <div class="button-group">
          <div class="row header_buttons">
            <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 centered">
                <%= link_to "Powell Registration", new_registration_path(location: "1"), class: "btn btn-warning btn-lg registration_buttons"  %>
                <%= link_to "New Albany Registration", new_registration_path(location: "2"), class: "btn btn-warning btn-lg registration_buttons" %>
            </div>
          </div>
          <div class="row header_buttons">
            <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 centered">
                <%= link_to "Powell Schedule", root_path(location: "Powell"), class: "btn btn-success btn-lg registration_buttons"  %>
                <%= link_to "New Albany Schedule", root_path(location: "New Albany"), class: "btn btn-success btn-lg registration_buttons" %>
            </div>
          </div><!-- /row header_buttons-->
        </div>
      </div><!-- /col-lg-9 col-md-9 col-sm-12 col-xs-12 -->
      <div class="col-lg-3 sun hidden-sm hidden-xs">
        <i class="glyphicon glyphicon-certificate glyphicon-white"></i>
      </div><!-- /col-lg-6 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->


  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Enlightening summer camps<br/>worth attending.</h1>
        <h3>We work tirelessly to find fun ways to help engage students of all ages in the fields of Mathematics and Technology.</h3>
      </div>
    </div><!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-4">
        <img src="assets/img/ser01.png" width="180" alt="">
        <h4>1 - Great Teachers</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/img/ser02.png" width="180" alt="">
        <h4>2 - Small Camp Sizes</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/img/ser03.png" width="180" alt="">
        <h4>3 - Fun</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->
<% end %>