<% if user_signed_in? %>
<div class="container">
  <h1>Admin Page</h1>
</div>
<% else %>
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h1>Summer is comming,<br/>
          thankfully :)</h1>
          <div class="row header_buttons">
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
              <p><%= link_to "Powell Registration", new_registration_path(location: "Powell"), class: "btn btn-warning btn-lg"  %></br></br>
                <%= link_to "Powell Schedule", root_path(location: "Powell"), class: "btn btn-success btn-lg"  %></p>
              </div>
              <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <p><%= link_to "New Albany Registration", new_registration_path(location: "New Albany"), class: "btn btn-warning btn-lg" %></br></br>
                  <%= link_to "New Albany Schedule", root_path(location: "New Albany"), class: "btn btn-success btn-lg" %></p>
                </div>
              </div><!-- /row -->
            </div><!-- /col-lg-6 -->
            <div class="col-lg-6 sun">
              <i class="glyphicon glyphicon-certificate glyphicon-white"></i>
            </div><!-- /col-lg-6 -->

          </div><!-- /row -->
        </div><!-- /container -->
      </div><!-- /headerwrap -->


      <div class="container">
        <div class="row mt centered">
          <div class="col-lg-6 col-lg-offset-3">
            <h1>Enlightening summer camps<br/>worth attending.</h1>
            <h3>We work tirelessly to find fun ways to help engage students of all ages in the fields of Mathematics and Technology.</h3>
          </div>
        </div><!-- /row -->

        <div class="row mt centered">
          <div class="col-lg-4">
            <img src="assets/img/ser01.png" width="180" alt="">
            <h4>1 - Great Teachers</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
          </div><!--/col-lg-4 -->

          <div class="col-lg-4">
            <img src="assets/img/ser02.png" width="180" alt="">
            <h4>2 - Small Camp Sizes</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

          </div><!--/col-lg-4 -->

          <div class="col-lg-4">
            <img src="assets/img/ser03.png" width="180" alt="">
            <h4>3 - Fun</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

          </div><!--/col-lg-4 -->
        </div><!-- /row -->
      </div><!-- /container -->

      <div class="container">
        <hr>
        <div class="row centered">
          <div class="col-lg-6 col-lg-offset-3">
            <form class="form-inline" role="form">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
              </div>
              <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
            </form>
          </div>
          <div class="col-lg-3"></div>
        </div><!-- /row -->
        <hr>
      </div><!-- /container -->

      <div class="container">
        <div class="row mt centered">
          <div class="col-lg-6 col-lg-offset-3">
            <h1>Flatty is for Everyone.</h1>
            <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
          </div>
        </div><!-- /row -->

        <! -- CAROUSEL -->
        <div class="row mt centered">
          <div class="col-lg-6 col-lg-offset-3">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="assets/img/p01.png" alt="">
                </div>
                <div class="item">
                  <img src="assets/img/p02.png" alt="">
                </div>
                <div class="item">
                  <img src="assets/img/p03.png" alt="">
                </div>
              </div>
            </div>
          </div><!-- /col-lg-8 -->
        </div><!-- /row -->
      </div><! --/container -->

      <div class="container">
        <hr>
        <div class="row centered">
          <div class="col-lg-6 col-lg-offset-3">
            <form class="form-inline" role="form">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
              </div>
              <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
            </form>
          </div>
          <div class="col-lg-3"></div>
        </div><!-- /row -->
        <hr>
      </div><!-- /container -->

      <div class="container">
        <div class="row mt centered">
          <div class="col-lg-6 col-lg-offset-3">
            <h1>Our Awesome Team.<br/>Design Lovers.</h1>
            <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
          </div>
        </div><!-- /row -->

        <div class="row mt centered">
          <div class="col-lg-4">
            <img class="img-circle" src="assets/img/pic1.jpg" width="140" alt="">
            <h4>Michael Robson</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
          </div><!--/col-lg-4 -->

          <div class="col-lg-4">
            <img class="img-circle" src="assets/img/pic2.jpg" width="140" alt="">
            <h4>Pete Ford</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
          </div><!--/col-lg-4 -->

          <div class="col-lg-4">
            <img class="img-circle" src="assets/img/pic3.jpg" width="140" alt="">
            <h4>Angelica Finning</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
          </div><!--/col-lg-4 -->
        </div><!-- /row -->
      </div><!-- /container -->

      <div class="container">
        <hr>
        <div class="row centered">
          <div class="col-lg-6 col-lg-offset-3">
            <form class="form-inline" role="form">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
              </div>
              <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
            </form>
          </div>
          <div class="col-lg-3"></div>
        </div><!-- /row -->
      </div>
<% end %>