<div class="container">
  <h1>Parents and Kids Love Us</h1>
  Our customer satisfaction surveys collected from over 1,000 families reveal that 100% percent of parents would refer our camps to friends and family! (97% said they are "very likely" to refer us and the other 3% are just "likely".).<br /><br />
  Our camps are so well received because of our enthusiastic teachers, hands-on curriculum, and small camp sizes.
  <br /><br />
  <h3>Here's what parents and kids have said about our camps:</h3>
  <blockquote>
    "<strong>He’s doing camps all over Columbus every week this summer and this was his favorite.</strong>"
    <footer>— Steve A.</footer>
  </blockquote>

  <blockquote>
    "<strong>The camps are small and the instructors' enthusiasm and positive attitude is very catching.</strong> It was a beneficial experience for both my boys. One was in a math rut after a year of quickchecks and envision (Dublin's math program), and the other is easily intimidated by math. <strong>They were so involved and excited, that they hardly noticed that they were being challenged.</strong> They are eager to go back for more!""
    <footer>- Yumi W.</footer>
  </blockquote>

  <blockquote>
    "The Math Plus SCRATCH programming camp really opened my son's eyes to an entirely new field. <strong>He came home so excited about programming and I could tell he was applying new logic and problem solving skills.</strong> He continues to write new programs at home after the camp. Thanks Math Plus for inspiring him!""
    <footer>- Heather S.</footer>
  </blockquote>

  <blockquote>
    "He LOVED LEGO Engineering camp. <strong>Every day he came out excited to tell us what he had learned.</strong>"
    <footer>-- Jack's mom</footer>
  </blockquote>

  <blockquote>
    "<strong>Every day when I picked up my son from LEGO Robotics camp, he was glowing with excitement and joy!</strong>""
    <footer>-- Braedon's mom</footer>
  </blockquote>

  <blockquote>
    "He absolutely loved LEGO Engineering camp! <strong>He came back each day with stories of invention, engineering, and creativity.</strong>"
    <footer>— Yogyata D.</footer>
  </blockquote>

  <blockquote>
    "<strong>Sydney and Dylan love LOVE LOVE LOVE KG math camp and the teacher.</strong>"
    <footer>— Christina Y.</footer>
  </blockquote>

  <blockquote>
    "Mark loves to play chess. <strong>Excellent instruction.</strong>"
    <footer>- Tina S.</footer>
  </blockquote>

  <blockquote>
    "By the end of the Girls Only camp, <strong>she felt empowered.</strong>"
    <footer>— Sophia’s dad</footer>
  </blockquote>

 <%= render '/pages/newsletter_signup' %>
 
</div> <!-- container -->