<svg id="Layer_9" data-name="Layer 9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 630">
    <defs>
        <style>
            .cls-1{fill:#1a71b2}.cls-2{fill:#3fb17c}.cls-3{font-size:102.09px;fill:#666;letter-spacing:-8px}.cls-22,.cls-3{font-family:Proxima Nova}.cls-4{clip-path:url(#clip-path)}.cls-5{clip-path:url(#clip-path-2)}.cls-6{fill:#5486b1}.cls-7{fill:#ff00ad}.cls-8{fill:#b1127f}.cls-9{fill:#8cd1ff}.cls-10{fill:#ff7a78}.cls-11{fill:#ff8c8c}.cls-12{fill:#cbcb79}.cls-13{fill:#ff2019}.cls-14{fill:#fcff06}.cls-15{fill:#ffdb19}.cls-16{fill:#3f9cb1}.cls-17{fill:#00cb70}.cls-18{fill:#ff0063}.cls-19{fill:#7497b1}.cls-20{fill:#3fb17e}.cls-21{fill:#7d9cb1}.cls-22{font-size:198.16px;letter-spacing:-11px}.cls-23{font-size:72px;font-family:Century Gothic}.cls-24{font-family:Montserrat;font-weight:700}.cls-25{font-weight:700;letter-spacing:-2px}.cls-26{fill:#006837}
        </style>
        <clipPath id="clip-path">
            <path class="cls-1" d="M19.35 124.81h59.6l23 81 22.91-81h59.4v133.12h-37V156.42l-28.71 101.51H85.06L56.45 156.42v101.51h-37.1V124.81zM295.17 236h-51.62l-7.1 22h-46.28l55.09-133.12h49.4L349.79 258h-47.42l-7.2-22zm-9.49-28.79l-16.21-47.86-16.11 47.86h32.33zm33.73-82.35h137.7v32.88h-46.22v100.19h-45.3V157.69H319.4v-32.88zm148.15 0h45.3v56.75h49.53v27h45.5v49.41h-45.5v-49.49h-49.54v49.41h-45.3V124.81zm94.83 56.75h45.5v-56.8h-45.5v56.75z"/>
        </clipPath>
        <clipPath id="clip-path-2">
            <path class="cls-2" d="M641.2 124.41h75.3q24.58 0 36.83 10.63c8.16 7.07 12.25 17.17 12.25 30.22q0 20.18-13.34 31.52t-40.76 11.34h-24.77v-27H641.2v-56.71zm45.5 83.72h-45.5v49.41h45.5v-49.41zm0-27h11.1c8.74 0 14.85-1.36 18.4-4.12a12.89 12.89 0 0 0 5.29-10.57 14 14 0 0 0-4.61-10.63q-4.56-4.37-17.27-4.37h-12.9v29.69zm90.3-56.72h45.33v100.33H893v32.79H777V124.41zm216.49 0h45.23v79.38a61.47 61.47 0 0 1-4.06 22.29 47.86 47.86 0 0 1-12.7 18.35 51.48 51.48 0 0 1-18.16 11c-8.81 2.94-19.36 4.43-31.71 4.43a213.69 213.69 0 0 1-23.35-1.36q-12.65-1.35-21.13-5.4A52.68 52.68 0 0 1 912 241.63a41.28 41.28 0 0 1-9.66-15.34q-4.2-12.69-4.2-22.5v-79.38h45.23v81.27q0 10.93 6.62 17t18.47 6.14c7.78 0 13.93-2 18.37-6s6.62-9.73 6.62-17.11v-81.3zm53 89.08l43.12-2.45q1.38 9.53 5.7 14.54c4.64 5.4 11.33 8.06 20 8.06q9.68 0 15-4.12t5.22-9.58c0-3.44-1.64-6.54-5-9.27s-11.06-5.3-23.21-7.72q-29.8-6.09-42.5-16.15t-12.8-25.7a32.66 32.66 0 0 1 6.55-19.4q6.56-9.11 19.7-14.35t36-5.21q28.11 0 42.88 9.48t17.54 30.19l-42.7 2.26q-1.69-9-7.17-13.08t-15-4.06c-5.29 0-9.25 1-11.91 3a9 9 0 0 0-4 7.41c0 2.11 1.09 4 3.27 5.7s7.2 3.38 15.23 4.9q29.7 5.81 42.53 11.78c8.57 4 14.82 8.87 18.71 14.76a34.86 34.86 0 0 1 5.87 19.71 39.49 39.49 0 0 1-7.82 23.59q-7.78 10.83-21.81 16.4t-35.3 5.58q-37.38 0-51.78-13.08t-16.32-33.23z"/>
        </clipPath>
    </defs>
    <title>
        summercamp_2016_identity
    </title>
    <text class="cls-3" transform="translate(30 98.46)">
        I REGISTERED MY KIDS FOR
    </text>
    <path class="cls-1" d="M19.35 124.81h59.6l23 81 22.91-81h59.4v133.12h-37V156.42l-28.71 101.51H85.06L56.45 156.42v101.51h-37.1V124.81zM295.17 236h-51.62l-7.1 22h-46.28l55.09-133.12h49.4L349.79 258h-47.42l-7.2-22zm-9.49-28.79l-16.21-47.86-16.11 47.86h32.33zm33.73-82.35h137.7v32.88h-46.22v100.19h-45.3V157.69H319.4v-32.88zm148.15 0h45.3v56.75h49.53v27h45.5v49.41h-45.5v-49.49h-49.54v49.41h-45.3V124.81zm94.83 56.75h45.5v-56.8h-45.5v56.75z"/>
    <path class="cls-4 cls-1" d="M21.25-16.3h588.53v133.12H21.25z"/>
    <path class="cls-2" d="M641.2 124.41h75.3q24.58 0 36.83 10.63c8.16 7.07 12.25 17.17 12.25 30.22q0 20.18-13.34 31.52t-40.76 11.34h-24.77v-27H641.2v-56.71zm45.5 83.72h-45.5v49.41h45.5v-49.41zm0-27h11.1c8.74 0 14.85-1.36 18.4-4.12a12.89 12.89 0 0 0 5.29-10.57 14 14 0 0 0-4.61-10.63q-4.56-4.37-17.27-4.37h-12.9v29.69zm90.3-56.72h45.33v100.33H893v32.79H777V124.41zm216.49 0h45.23v79.38a61.47 61.47 0 0 1-4.06 22.29 47.86 47.86 0 0 1-12.7 18.35 51.48 51.48 0 0 1-18.16 11c-8.81 2.94-19.36 4.43-31.71 4.43a213.69 213.69 0 0 1-23.35-1.36q-12.65-1.35-21.13-5.4A52.68 52.68 0 0 1 912 241.63a41.28 41.28 0 0 1-9.66-15.34q-4.2-12.69-4.2-22.5v-79.38h45.23v81.27q0 10.93 6.62 17t18.47 6.14c7.78 0 13.93-2 18.37-6s6.62-9.73 6.62-17.11v-81.3zm53 89.08l43.12-2.45q1.38 9.53 5.7 14.54c4.64 5.4 11.33 8.06 20 8.06q9.68 0 15-4.12t5.22-9.58c0-3.44-1.64-6.54-5-9.27s-11.06-5.3-23.21-7.72q-29.8-6.09-42.5-16.15t-12.8-25.7a32.66 32.66 0 0 1 6.55-19.4q6.56-9.11 19.7-14.35t36-5.21q28.11 0 42.88 9.48t17.54 30.19l-42.7 2.26q-1.69-9-7.17-13.08t-15-4.06c-5.29 0-9.25 1-11.91 3a9 9 0 0 0-4 7.41c0 2.11 1.09 4 3.27 5.7s7.2 3.38 15.23 4.9q29.7 5.81 42.53 11.78c8.57 4 14.82 8.87 18.71 14.76a34.86 34.86 0 0 1 5.87 19.71 39.49 39.49 0 0 1-7.82 23.59q-7.78 10.83-21.81 16.4t-35.3 5.58q-37.38 0-51.78-13.08t-16.32-33.23z"/>
    <path class="cls-5 cls-2" d="M641.2 122.15h538.29v137.74H641.2z"/>
    <path class="cls-6" d="M784.15 324.61l.04 2.79 1.82 1.78-1.86-4.57z"/>
    <path class="cls-7" d="M655 376.81l1.52-.02-1.13-1.09-.39 1.11z"/>
    <path class="cls-8" d="M613.93 311.88c-9.21-15.74-22.93-23.05-50-25.08l40.1 35z"/>
    <path class="cls-7" d="M556.85 312.8c15.41-.22 31.54 5.7 37.53 16.86l9.69-7.89-40.1-35c-2.41-.18-4.9-.27-7.49-.23A78 78 0 0 0 526 293.1l21.44 20.9a43.11 43.11 0 0 1 9.41-1.2z"/>
    <path class="cls-9" d="M547.44 314L526 293.1a69.11 69.11 0 0 0-25.15 18.79l21.15 20.6A40.87 40.87 0 0 1 547.44 314zm69.71 81.25l-25.57-11.93a36.21 36.21 0 0 1-7.16 9.85l19.77 19.23a74.71 74.71 0 0 0 12.96-17.15z"/>
    <path class="cls-7" d="M515 359a48.83 48.83 0 0 1 7-26.5l-21.2-20.61a68.69 68.69 0 0 0-14.34 29.3l29.9 29.08A52.9 52.9 0 0 1 515 359zm42.93 39.91a60 60 0 0 1-9-1l26.91 30.21a60.93 60.93 0 0 0 28.36-15.67l-19.77-19.23c-6.54 6.36-15.9 5.54-26.5 5.69z"/>
    <path class="cls-10" d="M519.38 369.26l-29.9-29.08a78.31 78.31 0 0 0-1.85 18.24 75.29 75.29 0 0 0 6.07 29.11l37 36a78 78 0 0 0 30.79 5.7 76.43 76.43 0 0 0 17.34-2.15l-25.36-24.66c-16.89-2.77-29.98-15.5-34.09-33.16z"/>
    <path class="cls-11" d="M658.33 287.56l-1.26 3.34 65.45 63.67-27.13-67.53-37.06.52z"/>
    <path class="cls-12" d="M645.28 322.63l21.33 20.73 10.6-31.26L701 374.8l-.66-.2 50.23 47.4h.24l-28.31-69.04-65.44-62.88-11.78 32.55z"/>
    <path class="cls-8" d="M656.5 375.5l25.98 23.5h27.55l8.51 23.95 32.03-.49-50.23-47.59-43.84.63zm10.11-32.14l-21.33-20.73-11.78 31.78 21.89 21.29 11.22-32.34z"/>
    <path class="cls-7" d="M654.99 375.44l.39-.43-21.89-20.94-11.78 31.95 23.47 22.6 2.87-8.52 34.43-1.26-25.98-23.42-1.51.02z"/>
    <path class="cls-9" d="M609.91 416.67l9.13 7.59 19.97-.28 6.16-16.27-23.47-22.82-11.79 31.78z"/>
    <path class="cls-13" d="M902.94 284.13l-30.09.42 30.52 30.61-.43-31.03z"/>
    <path class="cls-14" d="M872.75 323.37l.08 6.3 31.16 29.34-.62-43.85-30.52-30.61-10.48.15-9.02 24.08 18.7 19.15.7-4.56z"/>
    <path class="cls-15" d="M872.83 329.67l.62 43.84 31.15 29.34-.61-43.84-31.16-29.34z"/>
    <path class="cls-15" d="M873.49 327.99l-20.14-19.27-11.84 31.72 19.66 19.12 12.32-31.57z"/>
    <path class="cls-6" d="M874.06 417.35l8.04 3.22 22.75-.32-.25-17.4-31.15-29.34.61 43.84zm-32.55-76.91l-11.65 31.21-28.5-70.19-16.2-15.68-31.52.44.17 12.04 31.15 29.13-.04-2.79 1.2 4.58 63.49 62.06 11.73-31.68-19.83-19.12z"/>
    <path class="cls-16" d="M753.81 298.26l.62 43.84 31.15 29.13-.62-43.84-31.15-29.13zm60.88 102.6l21.28 6.54 13.31-16.16-63.83-62.06 29.24 71.68z"/>
    <path class="cls-11" d="M755.04 385.94l31.15 29.14-.61-43.85-31.15-29.13.61 43.84z"/>
    <path class="cls-12" d="M755.55 422.35l30.74-.44-.1-6.83-31.15-29.14.51 36.41z"/>
    <path class="cls-17" d="M1012.53 290.51l10.62 10.33a40.08 40.08 0 0 0-10.62-10.33z"/>
    <path class="cls-18" d="M1000.23 325.8l26.65 25.91a46.72 46.72 0 0 0 4.34-20.74 46.18 46.18 0 0 0-8.08-26.14l-10.62-10.26c-7.45-4.95-17-7.75-28.57-7.58l-23.43.33 26.78 26a18.19 18.19 0 0 1 12.93 12.48z"/>
    <path class="cls-19" d="M950.61 313.8l28.77-.4a24.06 24.06 0 0 1 6.94.44l-26.79-26.52-40 .56v2.19l31.15 29.13zm76.27 38.91l-26.65-25.91a20.36 20.36 0 0 1 .8 5.39c.16 11.53-8.29 19.1-19.76 19.42l22.63 22a40.86 40.86 0 0 0 22.98-20.9z"/>
    <path class="cls-13" d="M980.87 350.52l-28.77.4-.42-29.72-31.15-29.13.62 43.84 42 41.21 22-.31c7-.1 13.23-.71 18.7-2.78l-22.64-22.77c-.08.01-.21-.74-.34-.74z"/>
    <path class="cls-14" d="M921.76 378.76l31.16 29.13-.45-31.62 10.72-.15-42.04-41.21.61 43.85z"/>
    <path class="cls-15" d="M922.38 417.6l3.56 2.35 27.21-.38-.23-16.68-31.16-29.13.62 43.84z"/>
    <path class="cls-20" d="M1142.64 297.92c-13.55-12.18-31.37-18.55-52.67-18.59l38.66 37.59z"/>
    <path class="cls-21" d="M1054.84 288.4l19.66 19.11a29.93 29.93 0 0 1 12-2.35c13.53-.19 28.59 4.39 40 14.64l2.13-2.89-38.63-37.58h-1.73c-13.55.18-24.85 3.55-33.43 9.07zm90.16 89.01c0-25.85-21-34.56-41.21-39.58L1145 377.9v-.49z"/>
    <path class="cls-17" d="M1036.84 314.15l50.67 49.27 1.08.23c16.08 3.52 28.21 6.89 28.35 17.3a12.49 12.49 0 0 1-3 8.16l20.27 19.71c8.56-7.94 12.73-18.72 12.67-30.92l-41.21-40.07c-3.88-1-7.74-1.79-11.43-2.58-16.09-3.52-27.78-6.27-27.92-15.64-.07-5.28 2.72-9.59 8.18-12.09l-19.66-19.11c-9.79 6.29-16.03 15.37-18 25.74z"/>
    <path class="cls-18" d="M1087.51 363.42l-50.67-49.27a38.58 38.58 0 0 0-.68 7.76c.42 30.53 28.75 36.66 51.35 41.51zm5.49 33.49a61.34 61.34 0 0 1-18-2.42l28.23 27.45c13.49-1.78 23.79-6.44 31-13.11l-20.27-19.71c-3.64 4.39-10.56 7.64-20.96 7.79z"/>
    <path class="cls-19" d="M1048.61 378.79l-13.77 19.91 16 15.57c11.09 5.5 24.68 8.71 41.06 8.48a96.38 96.38 0 0 0 11.3-.81l-28.2-27.46a61.15 61.15 0 0 1-26.39-15.69z"/>
    <path d="M560.24 430.13c-43.13.61-76.1-30.71-76.69-72.84-.58-41.69 32-73.59 75.79-74.21 20.7-.29 42.57 8.55 57.07 23.06l2.78 2.78L595.95 338l-3.47-3.86c-8.84-9.85-21.2-15.87-32.26-15.72-21.08.3-36.74 16.58-36.44 37.87s16.42 37.33 37.49 37c10.85-.15 23.13-5.93 32-15.09l3.19-3.28 24.34 25.7-2.86 3c-15.12 16.1-37.24 26.22-57.7 26.51zm-.77-138.27c-38.79.54-67.65 28.62-67.13 65.3.52 37.12 29.66 64.72 67.78 64.18 16.9-.24 35.15-8.1 48.54-20.74l-12.36-13.05c-10.18 9-22.93 14.42-34.9 14.59-25.66.36-46-19.71-46.4-45.69s19.45-46.42 45.1-46.78c12-.17 25.17 5.47 35.31 15l11.94-15a73 73 0 0 0-47.89-17.81z"/>
    <path d="M760.25 426l-42.43.6-11-26.26-57 .8-10.31 26.56-41.3.58L659 282.65l37.43-.53zm-36.63-8.27l23.21-.33L690.74 291l-25.87.36-53.44 127.91 22-.31 10.31-26.56 68.83-1zm-17.62-42l-56 .79 27.14-69.27zm-43-8.18l29.86-.42-15.39-36.63z"/>
    <path d="M908.06 423.89l-36.35.51-1.07-76.14L842.6 411l-25.61.36-29.79-61.95 1.07 76.14-36.55.51-2-144.7 41.53-.58 37.92 76.76 35.56-77.79 41.34-.58zm-27.7-8.4l18.79-.26-1.78-127.14-27 .38L829.43 378l-43.64-88.35-27.2.38 1.78 127.14 19-.27-1.5-107.16 44.62 92.77 14.39-.2 42-94zm76.81 7.71l-39.46.55-2-144.7 62.06-.87c36.79-.52 59 18.46 59.48 50.75.48 34-21.21 54.6-58 55.12l-22.6.32zm-30.8-8.35l21.9-.31-.54-38.83 31.38-.44c32.23-.45 49.75-16.87 49.34-46.21-.39-27.6-18.35-42.54-50.58-42.09l-53.28.75zm50.94-56.41l-29.83.42-.77-54.8 29.83-.42c19.82-.28 31.33 9.44 31.57 26.67.25 17.6-10.98 27.85-30.8 28.13zM956.14 350l21-.3c15.08-.21 22.32-6.5 22.14-19.22-.17-12.33-7.59-18.22-22.66-18l-21 .3z"/>
    <path d="M1090 426.16c-22.67 0-46.16-8.45-62.84-22.6l-2.6-2.21 16.29-33.35 4.32 3.84c12.78 11.35 31.38 19.28 45.24 19.28 5.9 0 15.8-1.12 15.8-8.62 0-7-9.28-10.07-24.58-14.33-20.19-5.63-47.86-13.33-47.86-44.51 0-26.67 22.91-44.59 57-44.59 19.11 0 39.32 5.79 54.06 15.48l3.17 2.08-15.45 33.37-4.17-2.48c-13.23-7.87-29.72-13.37-40.09-13.37-3.88 0-12.89.65-12.89 6.68 0 6.67 9.1 9.79 24.09 14.15 20.38 5.92 48.27 14 48.15 45.87-.01 27.5-22.64 45.31-57.64 45.31zM1035.51 399c14.93 11.55 35 18.38 54.52 18.38 29.66 0 48.82-14.36 48.82-36.58.1-25.24-21.21-31.43-41.81-37.42-15.65-4.55-30.43-8.84-30.43-22.58 0-7.47 5.7-15.46 21.67-15.46 10.85 0 26.58 4.82 40.36 12.21l8.2-17.6c-13-7.59-29.93-12-46-12-29.3 0-48.24 14.06-48.24 35.81 0 24.51 21.06 30.38 41.43 36.05 15.94 4.44 31 8.64 31 22.79 0 10.9-9.19 17.4-24.59 17.4-14.26 0-32.72-7.17-46.66-17.85z"/>
    <text class="cls-22" transform="translate(15 423.3)">
        TECH
    </text>
    <text class="cls-23" transform="translate(149.17 507.82)">
        Use code <tspan class="cls-24" x="351.6" y="0">‘<%= @code %>’</tspan><tspan x="819.23" y="0">. </tspan><tspan class="cls-25"><tspan x="-46.3" y="84.4">You save </tspan><tspan class="cls-26" x="267.64" y="84.4">$</tspan><tspan x="305.08" y="84.4">, I save </tspan><tspan class="cls-26" x="545.51" y="84.4">$</tspan><tspan x="582.95" y="84.4">. Win. Win.</tspan></tspan>
    </text>
</svg>
