/*= require chosen */
/*= require pages */
/*= require registrations */
/*= require locations */
/*= require camps */
/*= require jquery-ui */
/*= require dataTables/jquery.dataTables */
/*= require dataTables/bootstrap/3/jquery.dataTables.bootstrap */
/*= require dataTables/extras/dataTables.responsive */
/*= require_self */

@import "compass";
@import "font-awesome";
$baseFontFamily: 'FontAwesome';
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "gritter";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.checkbox input[type="checkbox"] {
  float: none;
  position: relative;
  margin: 0;
}

// .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
//   /* position: absolute; */
//   /* margin-left: -20px; */
//   margin-top: 4px \9;
// }

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 3px solid gray;
}

.table-bordered {
  border: 3px solid gray;
}

.navbar-toggle {
  border: 3px solid transparent;
}

/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: FLATTY - Free Bootstrap 3 Theme
 * Version: 1.0
 * URL: http://blacktie.co
 */

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #555;
  padding-top: 62px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #333;
}

h1 {
  font-size: 69px;
  font-weight : bold;
  font-size : 69px;
  letter-spacing : -4.14px;
  color : #000000;
  color : rgb(0, 0, 0);
}

h2{
  font-size : 49px;
  letter-spacing : -3.92px;
  color : #666666;
  color : rgb(102, 102, 102);
}

h3 {
  color: #555;
  font-weight: 200;
}

h4 {
  color: #95a5a6;
  font-weight: 200;
  font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.alert {
    border-radius: 0;
}

 hr {
    display: block;
    height: 1px;
    border-top: 9px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-brand {
  float: left;
  padding-top: 15px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-default {
  background-color: #ffffff;
  border: solid 1px #dedede;
  padding-bottom: 10px;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-nav > li {
  color: gray;
  padding-top: 13px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;

  a {
    padding-top: 7px;
    padding-bottom: 5px;
  }
}


/* Helpers */

.mt {
  margin-top: 20px;
  margin-bottom: 40px;
}

.form-control {
  height: 42px;
  font-size: 18px;
}

i {
  margin: 8px;
  color: #333333;
}


/* HeaderWrap */
#headerwrap {
  margin-top: -20px;
  min-height: 100vh;
  width: 100%;

  .glyphicon-white{
    color: yellow;
    font-size: 13em;
  }
  .sun{
    text-align: center;
  }
  .button_group{
    margin-top: 10px;
  }

  .mobile-buttons{
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.modal-footer{
  border-top: 0;
}

.registration_buttons{
  margin: 10px;
}

.mobile-header{
  background-color: rgba(255,255,255,0.8);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  h1{
    padding: 30px
  }
}

#headerwrap h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  color: back;
  font-size: 45px;
  font-weight: 200;
  letter-spacing: 1px;
}

.divider{
  border-bottom: solid 1px gray;
  margin-bottom: 50px;
}

.circle_base {
    border-radius: 50%;
    border: solid black 3px;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type_1 {
  overflow: hidden;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: yellow;
}

.form-control{
  border: solid 3px black;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: none;
  background-color: none;
  background: none;
}

.paginate_button.previous {
  padding-right: 0;
}

.paginate_button.next {
  padding-left: 0;
}

// Main Section Styling\
.main{
  background-image: image-url('home_page/camps_background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
}

.main-image{
  margin-top: 50px;
}

.main-title{
  font-weight : bold;
  font-size : 62px;
  letter-spacing : -4.14px;
  line-height: 50px;
  color : #000000;
  color : rgb(0, 0, 0);
  margin: 10px 0 0 0;
}

.main-sub-title{
  font-size : 49px;
  font-weight: 300;
  letter-spacing : -3.92px;
  color : #666666;
  color : rgb(102, 102, 102);
  margin-top: 10px;
  margin-bottom: 25px;
}

.main-buttons{
  margin-bottom: 25px;
}

.main-grades{
  font-size : 35px;
  font-weight: 300;
  letter-spacing : -2.8px;
  color : #666666;
  color : rgb(102, 102, 102);
  margin-bottom: 30px
}

.after_main_section{
  font-weight : bold;
  font-size : 41px;
  line-height : 43.79px;
  color : #000000;
  color : rgb(0, 0, 0);
  margin-top: 30px;
  text-align: center;
}

.main-location{
  background-image: image-url('home_page/summercamp_2016_identity_10.png');
  background-position: center;
  height:90px;
  margin-top:40px;
}

@media screen and (max-width:1100px) {
  .main{
    background-image: image-url('home_page/camps_background_mobile.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .main-title{
    font-weight : bold;
    font-size : 50px;
    letter-spacing : -4.14px;
    line-height: 50px;
    color : #000000;
    color : rgb(0, 0, 0);
  }
  .main-sub-title{
    font-size : 40px;
    font-weight: 300;
    letter-spacing : -3.92px;
    color : #666666;
    color : rgb(102, 102, 102);
  }
  .main-grades{
    font-size : 30px;
    font-weight: 300;
    letter-spacing : -2.8px;
    color : #666666;
    color : rgb(102, 102, 102);
  }
}

@media screen and (max-width:600px) {
  .main{
    background-image: image-url('home_page/camps_background_mobile.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .main-title{
    font-weight : bold;
    font-size : 50px;
    letter-spacing : -4.14px;
    line-height: 50px;
    color : #000000;
    color : rgb(0, 0, 0);
  }
  .main-sub-title{
    font-size : 30px;
    font-weight: 300;
    letter-spacing : -2px;
    color : #666666;
    color : rgb(102, 102, 102);
  }
  .main-grades{
    font-size : 30px;
    font-weight: 300;
    letter-spacing : -2.8px;
    color : #666666;
    color : rgb(102, 102, 102);
  }
  .after_main_section{
    font-weight : bold;
    font-size : 30px;
    line-height : 35.79px;
    color : #000000;
    color : rgb(0, 0, 0);
    margin-top: 30px;
    text-align: center;
  }
}

.locations{
  margin: 110px 0 70px 0;

  .hilliard{
    border-bottom:solid 9px #FF0063;
  }
  .new-albany{
    border-bottom:solid 9px #7497B1;
  }
  .powell{
    border-bottom:solid 9px #FFAF10;
  }
  .past{
    border-bottom:solid 9px #3eb27e;
  }
}

.locations:nth-of-type(1){
  margin: 110px 0 0 0;
}

.locations:nth-of-type(2){
  margin: 0 0 70px 0;
}

.location-description{
  color: #a8a8a8;
  margin-bottom: 10px;
}
// Button Styling

.btn{
  color:#000000;
  border-style : Solid;
  border-color : #000000;
  border-color : rgba(0, 0, 0, 1);
  border-width : 5px;
  border-radius : 9px;
  -moz-border-radius : 9px;
  -webkit-border-radius : 9px;
  text-transform: uppercase;
}

.btn-red{
  background : #FF0600;
  background : rgba(255, 6, 0, 1);
}

.btn-red:hover{
  background : #FF8C8C;
  background : rgba(255, 140, 140, 1);
}

.btn-purple{
  background : #9041B1;
  background : rgba(144, 65, 177, 1);
}

.btn-purple:hover{
  background : #9F8CAA;
  background : rgba(159, 140, 170, 1);
}

.btn-blue{
  background : #0091FF;
  background : rgba(0, 145, 255, 1);
}

.btn-blue:hover{
  background : #8CD1FF;
  background : rgba(140, 209, 255, 1);
}

.btn-yellow{
  background : #FCFF06;
  background : rgba(252, 255, 6, 1);
}

.btn-yellow:hover{
  background : #FFFD93;
  background : rgba(255, 253, 147, 1);
}

.btn-green{
  background : #12B21D;
  background : rgba(18, 178, 29, 1);
}

.btn-green:hover{
  background : #A9FFAF;
  background : rgba(169, 255, 175, 1);
}

.btn-orange{
  background : #f58c00;
  background : rgba(255, 175, 16, 1);
}

.btn-orange:hover{
  background : #FFCD83;
  background : rgba(255, 205, 131, 1);
}

.dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: white;
  border: 5px solid #cccccc;
  border: 5px solid rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
