/*= require chosen */
/*= require pages */
/*= require registrations */
/*= require locations */
/*= require camps */
/*= require camp_offerings */
/*= require jquery-ui */
/*= require dataTables/jquery.dataTables */
/*= require dataTables/bootstrap/3/jquery.dataTables.bootstrap */
/*= require dataTables/extras/dataTables.responsive */
/*= require_self */

@import "compass";
@import "font-awesome";
$baseFontFamily: 'FontAwesome';
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "gritter";

.checkbox input[type="checkbox"] {
  float: none;
  margin-left: 0;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 3px solid gray;
}

.table-bordered {
  border: 3px solid gray;
}

.navbar-toggle {
  border: 3px solid transparent;
}

/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: FLATTY - Free Bootstrap 3 Theme
 * Version: 1.0
 * URL: http://blacktie.co
 */

body {
  background-color: #f2f2f2;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 62px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    font-weight: bold;
    color: #333;
}

h1 {
  font-size: 40px;
}

h3 {
  color: #555;
  font-weight: 200;
}

h4 {
  color: #95a5a6;
  font-weight: 200;
  font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.alert {
    border-radius: 0;
}

 hr {
    display: block;
    height: 1px;
    border-top: 9px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-brand {
  float: left;
  padding-top: 15px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-default {
  background-color: #ffffff;
  border: solid 1px #dedede;
  padding-bottom: 10px;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-nav > li {
  color: gray;
  padding-top: 13px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;

  a {
    padding-top: 7px;
    padding-bottom: 5px;
  }
}


/* Helpers */

.mt {
  margin-top: 20px;
  margin-bottom: 40px;
}

.form-control {
  height: 42px;
  font-size: 18px;
}

i {
  margin: 8px;
  color: #333333;
}


/* HeaderWrap */
#headerwrap {
  background: light-gray;
  background-color: light-gray;
  margin-top: -20px;
  padding-top:90px;
  background: url('http://www.mathplusacademy.com/wp-content/uploads/2014/01/Free-Spring-Wallpaper.jpg');
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  .glyphicon-white{
    color: yellow;
    font-size: 13em;
  }
  .sun{
    text-align: center;
  }
  .button_group{
    margin-top: 10px;
  }

  .mobile-buttons{
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.modal-footer{
  border-top: 0;
}

.registration_buttons{
  margin: 10px;
}

.mobile-header{
  background-color: rgba(255,255,255,0.8);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  h1{
    padding: 30px
  }
}

#headerwrap h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  color: back;
  font-size: 45px;
  font-weight: 200;
  letter-spacing: 1px;
}

.divider{
  border-bottom: solid 1px gray;
  margin-bottom: 50px;
}

.circle_base {
    border-radius: 50%;
    border: solid black 3px;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type_1 {
  overflow: hidden;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: yellow;
}

.btn{
  border: solid 3px black;
}

.form-control{
  border: solid 3px black;
}
