@import "chosen";
@import "jquery-ui";
@import "datatables";
@import "compass";
@import "font-awesome";
@import "bootstrap";
@import "jquery-ui/datepicker";
@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "jquery.timepicker";
@import "variables";
@import "registrations";
@import "locations";
@import "camps";
@import "pages";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.help-inline{
  color:red;
}

.navbar{
  margin-top:-62px;
}

.navbar-brand{
  img{
    width: 300px;
  }
}

.checkbox input[type="checkbox"] {
  float: none;
  position: relative;
  margin: 0;
}

// .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
//   /* position: absolute; */
//   /* margin-left: -20px; */
//   margin-top: 4px \9;
// }

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 3px solid gray;
}

.table-bordered {
  border: 3px solid gray;
}

.table thead th {
    border-bottom: none;
}
.table-bordered th, .table-bordered td {
    border: none;
}

.table th, .table td {
    border-top: none;
}

.paging_simple{
  float:right;
}

.modal-body {
  font-weight: 100;
}

.show-camp {
  font-weight: 100;
  font-size: calc(10px + 1vw);
  line-height: 1.3;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(12px + 0.5vw);
  line-height: 1.5;
  color: #555;
  padding-top: 62px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6, input, select{
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: calc(16px + 3.5vw);
  line-height: 1.3;
  font-weight : bold;
  letter-spacing : -2px;
  color : #000000;
  color : rgb(0, 0, 0);
}

h2{
  font-size: calc(14px + 2vw);
  line-height: 1.3;
  font-weight : bold;
  letter-spacing : -2px;
  color : #323030;
  color : rgb(102, 102, 102);
}

h3 {
  font-size: calc(12px + 1vw);
  line-height: 1.3;
  color: #535050;
  font-weight: bold;
}

h4 {
  color: #95a5a6;
  font-weight: bold;
  font-size: 20px;
}

.catalog h2 {
  font-size:calc(12px + 1.5vw);
  margin-top:10px;
}

/* Paragraph & Typographic */
p {
  font-size: calc(12px + 0.5vw);
  line-height: 1.5;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

.card{
  border: solid 3px #939393;

  .card-header{
    border-bottom-width: 3px;

    h3{
      margin:0;
    }
  }
}


/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.alert {
    border-radius: 0;
}

 hr {
    display: block;
    height: 1px;
    border-top: 9px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* Helpers */

.mt {
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-control {
  height: auto;
  font-size: 18px;
}

i {
  margin: 8px;
  color: #333333;
}

.camps-green{
  color: $camps-green;
}
.camps-green-ligh{
  color: $camps-green-light;
}
.camps-blue{
  color: $camps-blue;
}
.camps-blue-light{
  color: $camps-blue-light;
}
.camps-red{
  color: $camps-red;
}
.camps-red-light{
  color: $camps-red-light;
}
.camps-orange{
  color: $camps-orange;
}
.camps-orange-light{
  color: $camps-orange-light;
}
.camps-yellow{
  color: $camps-yellow;
}
.camps-yellow-light{
  color: $camps-yellow-light;
}
.camps-purple{
  color: $camps-purple;
}
.camps-purple-light{
  color: $camps-purple-light;
}

/* HeaderWrap */
#headerwrap {
  background-image: image-url('home_page/summercamp_header.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  // min-height: 100vh;
  // width: 100%;
  // margin-right: 0;

  .glyphicon-white{
    color: yellow;
    font-size: 13em;
  }
  .sun{
    text-align: center;
  }
  .button_group{
    margin-top: 10px;
  }

  .mobile-buttons{
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.modal-footer{
  border-top: 0;
}

.registration_buttons{
  margin: 10px;
}

.mobile-header{
  background-color: rgba(255,255,255,0.8);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  h1{
    padding: 30px
  }
}

#headerwrap h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  color: back;
  font-size: 45px;
  font-weight: 200;
  letter-spacing: 1px;
}

.divider{
  border-bottom: solid 1px gray;
  margin-bottom: 50px;
}

.circle_base {
    border-radius: 50%;
    border: solid black 3px;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type_1 {
  overflow: hidden;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: yellow;

  img{
    margin:-1px 0 0 -1px;
  }
}

.form-control{
  border: solid 3px black;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: none;
  background-color: none;
  background: none;
}

.paginate_button.previous {
  padding-right: 0;
}

.paginate_button.next {
  padding-left: 0;
}

// Main Section Styling\
.main{
  padding:50px 30px 0 40px;
}

.main-image{
  // margin-top: 50px;
}

.main-title{
  background-color: rgba(0, 0, 0, 0);
  font-weight : bold;
  font-size : calc(14px + 3vw);
  line-height: 1.3;
  text-align: center;
  letter-spacing : -2px;
  color : white;
  margin: 20px 0 40px 0;
}

.main-sub-title{
  font-size : 49px;
  font-weight: 300;
  letter-spacing : -2px;
  color : #666666;
  color : rgb(102, 102, 102);
  margin-top: 10px;
}

.main-schedule{
  margin-top: 25px;
}

.main-buttons{
  margin-bottom: 25px;
  text-align: center;
}

.main-grades{
  font-size: calc(10px + 1vw);
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  letter-spacing : -1px;
  color : white;
  margin-bottom: 30px
}

.after_main_section{
  font-weight : bold;
  font-size : 41px;
  line-height : 43.79px;
  color : #000000;
  color : rgb(0, 0, 0);
  margin-top: 30px;
  text-align: center;
}

.main-location{
  font-weight: 100;
  text-align: center;
  width: 100%;
  background: image-url('home_page/locations_background.png');
  background-position: center;
  min-height:90px;
  margin-top:40px;

  h2{
    margin:0;
  }
}

.location-select{
  text-align: center;
  margin:40px 0 25px 0;
}

.locations{
  margin: 110px 0 70px 0;

  .hilliard{
    border-bottom:solid 9px $camps-blue;
  }
  .new-albany{
    border-bottom:solid 9px $camps-green;
  }
  .powell{
    border-bottom:solid 9px $camps-orange;
  }
  .past{
    border-bottom:solid 9px $camps-red;
  }
  .solon{
    border-bottom:solid 9px $camps-purple;
  }
}

.locations:nth-of-type(1){
  margin: 110px 0 0 0;
}

.locations:nth-of-type(2){
  margin: 0 0 70px 0;
}

.location-description{
  color: #a8a8a8;
  margin-bottom: 10px;
}

// @media screen and (max-width:1200px) {
//   .main{
//     padding:40px 30px 40px 30px;
//   }
//   .main-title{
//     font-weight : bold;
//     font-size : 40px;
//     letter-spacing : -2px;
//     line-height: 50px;
//   }
//   .main-sub-title{
//     font-size : 40px;
//     font-weight: 300;
//     letter-spacing : -2px;
//     color : #666666;
//     color : rgb(102, 102, 102);
//   }
//   .main-grades{
//     font-size : 30px;
//     font-weight: 300;
//     letter-spacing : -1px;
//   }
//   .mt h2{
//     font-size: 2em;
//   }
// }
// @media screen and (max-width:990px) {
//   .main-title{
//     font-weight : bold;
//     font-size : 30px;
//     letter-spacing : -2px;
//     line-height: 50px;
//     margin-bottom: 30px;
//   }
//   .main-grades{
//     font-size : 30px;
//     font-weight: 300;
//     letter-spacing : -1px;
//   }
//   .locations{
//     margin:0;
//   }
// }
// @media screen and (max-width:767px) {
//   .main{
//     text-align:center;
//   }
//   .main-title{
//     font-weight : bold;
//     font-size : 30px;
//     letter-spacing : -2px;
//     line-height: 50px;
//   }
//   .main-grades{
//     font-size : 24px;
//     font-weight: 300;
//     letter-spacing : -1px;
//   }
//
//   .locations:nth-of-type(1){
//     margin: 30px 0 30px 0;
//   }
//
//   .locations:nth-of-type(2){
//     margin: 35px 0 30px 0;
//   }
//
//   .hilliard{
//     margin-bottom:35px;
//   }
//
//   .powell{
//     margin-bottom:35px;
//   }
// }
// @media screen and (max-width:600px) {
//   .navbar-brand{
//     img{
//       width: 275px;
//     }
//   }
//   .main{
//     padding: 20px 20px 0 20px;
//   }
//   .main-title{
//     font-weight : bold;
//     font-size : 30px;
//     letter-spacing : -2px;
//     line-height: 50px;
//   }
//   .main-sub-title{
//     font-size : 30px;
//     font-weight: 300;
//     letter-spacing : -1px;
//     color : #666666;
//     color : rgb(102, 102, 102);
//   }
//   .main-grades{
//     font-size : 24px;
//     font-weight: 300;
//     letter-spacing : -1px;
//   }
//   .after_main_section{
//     padding: 0 10px 30px 10px;
//     font-weight : bold;
//     font-size : 30px;
//     line-height : 35.79px;
//     color : #000000;
//     color : rgb(0, 0, 0);
//     margin-top: 30px;
//     text-align: center;
//   }
//   #installment-offer{
//     h3{
//       font-size: 20px;
//       margin-bottom:20px;
//       text-align: center;
//     }
//   }
//   .main-location{
//     background: image-url('home_page/locations_background_mobile.png');
//     background-position: center;
//   }
// }
// @media screen and (max-width:578px) {
//   .navbar-brand{
//     img{
//       width: 195px;
//     }
//   }
//   .btn-lg{
//     padding: 0.65rem .75rem;
//     font-size: 1.2rem;
//   }
//   h1{
//
//   }
//   h1 {
//     font-size: 42px;
//     font-weight : bold;
//     letter-spacing : -2px;
//     color : #000000;
//     color : rgb(0, 0, 0);
//   }
//
//   h2{
//     font-size : 33px;
//     letter-spacing : -1px;
//     color : #666666;
//     color : rgb(102, 102, 102);
//   }
//
//   h3 {
//     color: #555;
//     font-weight: bold;
//   }
//
//   h4 {
//     font-size: 18px;
//     color: #95a5a6;
//     font-weight: bold;
//   }
// }

// Button Styling

.btn{
  color:white;
  // border-style : Solid;
  // border-color : #000000;
  // border-color : rgba(0, 0, 0, 1);
  // border-width : 5px;
  border-radius : 10000px;
  -moz-border-radius : 10000px;
  -webkit-border-radius : 10000px;
  // text-transform: uppercase;
  font-weight: bold;
}

.btn:hover{
  color:#383838;
}

.btn-red{
  background : $camps-red;
}

.btn-red:hover{
  background : $camps-red-light;
}

.btn-purple{
  background : $camps-purple;
  color: $white;
}

.btn-purple:hover{
  background : $camps-purple-light;
}

.btn-blue{
  background : $camps-blue;
  color: $white;
}

.btn-blue:hover{
  background : $camps-blue-light;
}

.btn-yellow{
  background : $camps-yellow;
}

.btn-yellow:hover{
  background : $camps-yellow-light;
}

.btn-green{
  background : $camps-green;
  color: $white;
}

.btn-green:hover{
  background : $camps-green-light;
}

.btn-orange{
  background : $camps-orange;
}

.btn-orange:hover{
  background : $camps-orange-light;
}

.btn-white{
  background : #cccccc;
}

.btn-white:hover{
  background : #bebebe;
}

.girls_only_banner{
  background: #c1c4c4;
  width: 300px;
  height: 50px;
  float: right;
  position: absolute;
  right: 0;

  img{
    height: 50px;
    width: 50px;
    float: left;
  }

  span{
    padding: 0 40px 10px 20px;
    position: relative;
    top: 13px;
    float:right;
  }
}

.mt h2{
  white-space: normal;
}
