.admin_dashboard{
  margin-top: 30px;
  margin-bottom: 40px;
}

.todays_sales{
  margin-top:15px;
  margin-bottom:15px;
}

.compare{
  margin-bottom: 30px;
}

.admin-dash-section{
  border: solid 1px lightgray;
  margin-top:15px;
  margin-bottom:15px;
  border-radius:2px;
  text-align: center;
  height: 225px;

  .header{
    min-height: 60px;
    position: relative;
    text-align: center;
    border-bottom: solid 1px lightgray;
    width: 98%;

    h2{
      margin-top: 0;
      margin-bottom:  0;
      padding-top: 10px;
    }
  }
  span{
    font-size: 5em;
  }
}

.coupon_codes{
  border: solid 1px lightgray;
  margin-top:15px;
  margin-bottom:15px;
  border-radius:2px;
  min-height:200px;
  height: auto;

  .header{
    min-height: 60px;
    position: relative;
    text-align: center;
    border-bottom: solid 1px lightgray;
    width: 98%;
  }
  .body{
    padding-top: 20px;
    ol{
      margin-bottom: 15px;
    }
  }
}

.week_at_a_glance{
  border: solid 1px lightgray;
  margin-top:15px;
  margin-bottom:15px;
  border-radius:2px;
  height: 225px;
  height: auto;

  .header{
    min-height: 60px;
    position: relative;
    text-align: center;
    border-bottom: solid 1px lightgray;
    width: 98%;

    h2{
      margin-top: 0;
      margin-bottom:  0;
      padding-top: 10px;
    }
  }
  form{
    padding:20px;
  }

  select{
    width: 250px;
  }
}

.revenue{
  border: solid 1px lightgray;
  margin-top:15px;
  margin-bottom:15px;
  border-radius:2px;
  text-align: center;
  height: 225px;

  .header{
    min-height: 60px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    border-bottom: solid 1px lightgray;
    width: 98%;

    h2{
      margin-top: 0;
      margin-bottom:  0;
      padding-top: 10px;
    }
  }
  p{
    margin-bottom:0;
  }
  span{
    font-size: 3em;
    margin-bottom: 80px;
  }
}

.modal_buttons{
  margin-bottom: 10px;
}

.admin-mobile{
  .btn{
    width: 100%
  }
  .registration_buttons{
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

#compare.table td {
  text-align: center;
}

#compare tr td:first-child{
  font-weight:bold;
}

.sign-up-form{
  .margin-top: 30px;
  .margin-bottom: 35px;
}

.modal-body{
  h4{
    margin-top:0;
    margin-bottom:35px;
  }
  h3{
    margin-top:0;
    margin-bottom:35px;
  }
}
.reminder{
  padding:55px 20px 70px 20px;
  margin: 0 0 40px 0;
  background-color: #d0d0d0;
  background-color: rgb(208, 208, 208);

  .reminder-header{
    font-size : 40px;
    font-weight: bold;
    letter-spacing : -2px;
    color : #000000;
    color : rgb(0, 0, 0);
    margin:0 0 25px 0;
  }
  .form-control{
    margin:10px 0 0 0;
  }
  input[type='submit']{
    margin:10px 0 0 0;
  }
}


@media screen and (max-width:600px) {
  .reminder{
    padding:30px 20px 40px 20px;
    margin: 0 0 25px 0;
    background-color: #d0d0d0;
    background-color: rgb(208, 208, 208);
    line-height: 30px;

    .reminder-header{
      font-size : 30px;
      font-weight: bold;
      letter-spacing : -1px;
      color : #000000;
      color : rgb(0, 0, 0);
      margin:0 0 25px 0;
    }
  }
}
