
.admin_dashboard{
  margin-top: 30px;
  margin-bottom: 40px;
}


.todays_sales{
  margin-top:15px;
  margin-bottom:15px;
}

.todays_registrations{
  border: solid 1px lightgray;
  margin-top:15px;
  margin-bottom:15px;
  border-radius:2px;
  text-align: center;
  min-height: 120px;
  height: 200px;

  .header{
    min-height: 60px;
    position: relative;
    text-align: center;
    border-bottom: solid 1px lightgray;
    width: 98%;

    h2{
      margin-top: 0;
      margin-bottom:  0;
      padding-top: 10px;
    }
  }
  span{
    font-size: 5em;
  }
}

.week_at_a_glance{
  border: solid 1px lightgray;
  margin-top:15px;
  margin-bottom:15px;
  border-radius:2px;
  min-height: 120px;
  height: auto;

  .header{
    min-height: 60px;
    position: relative;
    text-align: center;
    border-bottom: solid 1px lightgray;
    width: 98%;

    h2{
      margin-top: 0;
      margin-bottom:  0;
      padding-top: 10px;
    }
  }
  form{
    padding:20px;
  }

  select{
    width: 250px;
  }
}

.todays_sales{
  border: solid 1px lightgray;
  border-radius:2px;
  text-align: center;
  height: 200px;

  .header{
    min-height: 60px;
    position: relative;
    text-align: center;
    border-bottom: solid 1px lightgray;
    width: 98%;

    h2{
      margin-top: 0;
      margin-bottom:  0;
      padding-top: 10px;
    }
  }
  span{
    font-size: 5em;
  }
}

.modal_buttons{
  margin-bottom: 10px;
}

.admin-mobile{
  .btn{
    width: 100%
  }
  .registration_buttons{
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}
