// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#registration_newsletter{
  margin-right: 10px;
}

.registration{
    color: blue;
    margin-bottom: -10px;
}

#register_another_student{
  margin-right: 15px;
}

.show{
  margin-top: 30px
}

#stripe_error{
  color: #ff0000;
}

#coupon_error{
  color: #ff0000;
  padding-bottom: 10px;
}

.camp_offerings{
  .checkbox{
    span{
      font-weight: 100;
      color: green;
    }
  }
}

#registration_button{
  margin-right: 20px;
}

#camp_registrations{
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  border: solid 3px gray;
}
.button_col{
  display: table-cell;
  vertical-align: middle;
}

.button_group{
  margin-bottom: 10px;
}
#registration_total{
  border-top: solid 1px gray;
  padding-top: 5px;
  p{
    span{
      color: red;
    }
  }
}

// Calendar styling

table.calendar{
  td{
  }
}
.checkbox input[type="checkbox"] {
  float: none;
  margin-left: 0;
}

.girls-only{
  background-image: image-url('girls-only-background-01.svg');;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: right top;
}

#payment_plan_field{
  input[type="checkbox"]{
    margin-right: 15px;
  }
  label{
    padding:0;
  }
}
