// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.registration{
    color: blue;
    margin-bottom: -10px;
}

.show{
  margin-top: 30px
}

#stripe_error{
  color: #ff0000;
}

.camp_offerings{
  .checkbox{
    span{
      font-weight: 100;
      color: green;
    }
  }
}

#camp_registrations{
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  border: solid 1px gray;
}
.button_col{
  display: table-cell;
  vertical-align: middle;
}

.registration_button{
    display: block;
    vertical-align: middle;
  }

#registration_total{
  p{
    span{
      color: red;
    }
  }
}
