$camps-orange: #F78A22;
$camps-orange-light: #f7b473;
$camps-green: #42a258;
$camps-green-light: #90d29f;
$camps-blue: #0053B1;
$camps-blue-light: #2c7bd4;
$camps-red: #CF232B;
$camps-red-light: #e64b52;
$camps-purple: #633eb3;
$camps-purple-light: #9668f7;
$camps-yellow: #cfb823;
$camps-yellow-light: #f6e577;
$baseFontFamily: 'FontAwesome';
