<div class="row locations">
  <div class="col-md-6 col-xs-12 text-center hilliard"  itemscope itemtype="http://schema.org/Place" >
    <%= link_to new_registration_path(location: 3), itemprop: "url" do %>
      <h2 itemprop="name">Hilliard/ UA</h2>
    <% end %>
    <div class="location-description" itemprop="location"><em>Mill Run</em></div>
  </div>
  <div class="col-md-6 col-xs-12 text-center new-albany"  itemscope itemtype="http://schema.org/Place" >
    <%= link_to new_registration_path(location: 2), itemprop: "url" do %>
      <h2 itemprop="name">New Albany</h2>
    <% end %>
    <div class="location-description" itemprop="location"><em>North Hamilton Rd (near Home Depot)</em></div>
  </div>
</div>
<div class="row locations">
  <div class="col-md-6 col-xs-12 text-center powell" itemscope itemtype="http://schema.org/Place" >
    <%= link_to new_registration_path(location: 1), itemprop: "url" do %>
      <h2 itemprop="name">Powell</h2>
    <% end %>
    <div class="location-description" itemprop="location"><em>Sawmill Parkway &amp; Powell Road</em></div>
  </div>
  <div class="col-md-6 col-xs-12 text-center past" itemscope itemtype="http://schema.org/Place" >
    <%= link_to new_registration_path(location: 4), itemprop: "url" do %>
      <h2 itemprop="name">PAST Innovation Lab</h2>
    <% end %>
    <div class="location-description" itemprop="location"><em>West OSU Campus (near AMC Lennox)</em></div>
  </div>
</div>
