<p class="centered">Math Plus Academy - 2016</p>
<p class="centered">
  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path %> |
    <%= link_to "Profile", edit_user_registration_path %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>
</p>
