<div itemscope itemtype="http://schema.org/LocalBusiness" class="text-center">
  <p>
    <span itemprop="name">Math Plus Academy<span>
  </p>
  <p>
    <span itemprop="address">9681 Sawmill Rd.<br />
    Powell, Ohio 43065<span>
  </p>
</div>
<p class="centered">
  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path %> |
    <%= link_to "Profile", edit_user_registration_path %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>
</p>
