<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.mathplusacademy.com"><%= image_tag('http://www.mathplusacademy.com/wp-content/uploads/2014/01/title_logo-1.png', size: "179x33")%></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>Questions? <i class="fa fa-phone"></i> 614.792.6284</li>
        <li><%= link_to "Summer Camp Home", root_path %></li>
        <li><%= link_to "FAQ", faq_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>